<div class="">
  <div class="">
    <h2>Login</h2>

    <form class="login-form">
      <div class="">
        <label for="email-login">email:</label>
        <input class="" type="text" id="email-login" />
      </div>
      <div class="">
        <label for="password-login">password:</label>
        <input class="" type="password" id="password-login" />
      </div>
      <div class="">
        <button class="" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="signup-page">
    <h1>Don't have an account? Sign up here:</h1>
    <div class="">
      <button class="" type="button">signup</button>
    </div>
  </div>

<script src="./js/login.js"></script>
