<div class='charcters-container'>
  <div class='new-character-container'>
    <h2>
      Create a new character!
    </h2>
    <form class='new-charcter-form'>
      <label for='character_name'>
        Character Name:
      </label>
      <br />
      <textarea id='character_name' name='character_name' rows='2' cols='30'>
        {{character_name}}
      </textarea>
      <br />
      <label for='race'>
        Race:
      </label>
      <br />
      <select id="race" name="race">
        <option value="half-orc">Half-Orc</option>
        <option value="dwarf">Dwarf</option>
        <option value="halfling">Halfling</option>
        <option value="human">Human</option>
        <option value="dragonborn">Dragonborn</option>
        <option value="gnome">Gnome</option>
        <option value="tiefling">Tiefling</option>
      </select>
      <textarea id='race' name='race' rows='5' cols='30'>
        {{race}}
      </textarea>
      <br />
      <label for='class'>
        Class:
      </label>
      <br />
      <select id="class" name="class">
        <option value="barbarian">Barbarian</option>
        <option value="bard">Bard</option>
        <option value="cleric">Cleric</option>
        <option value="druid">Druid</option>
        <option value="fighter">Fighter</option>
        <option value="monk">Monk</option>
        <option value="paladin">Paladin</option>
        <option value="bard">Rogue</option>
        <option value="cleric">Sorcerer</option>
        <option value="druid">Warlock</option>
        <option value="fighter">Wizard</option>
      </select>
      <textarea id='class' name='class' rows='2' cols='30'>
        {{class}}
      </textarea>
      <br />
      <label for='background'>
        Background:
      </label>
      <br />
      <select id="background" name="background">
        <option value="acolyte">Acolyte</option>
        <option value="charlatan">Charlatan</option>
        <option value="criminal">Criminal</option>
        <option value="entertainer">Entertainer</option>
        <option value="folk-hero">Folk Hero</option>
        <option value="guild-artisan">Guild Artisan</option>
        <option value="hermit">Hermit</option>
        <option value="noble">Noble</option>
        <option value="outlander">Outlander</option>
        <option value="sage">Sage</option>
        <option value="sailor">Sailor</option>
        <option value="soldier">Soldier</option>
        <option value="urchin">Urchin</option>
      </select>
      <textarea id='background' name='background' rows='2' cols='30'>
        {{class}}
      </textarea>
      <br />
      <button type='roll_stats' value='roll_stats'>
        Roll Ability Stats!
      </button>
    </form>
  </div>
</div>
{{!-- add a script link here --}}
<script src= ></script>