<div class="container px-4 text-center">
  <h2 class="medieval darkforest">Welcome, {{name}}!</h2>
  <div class="row gx-5">
    <div class="col view-chars">
     <button type="button" class="btn btn-primary btn-lg btn-block">View Characters</button>
    </div>
    <div class="col create-page">
      <button type="button" class="btn btn-secondary btn-lg btn-block">Create a new Characters</button>
    </div>
  </div>
</div>