<div class="">
  <div class="">
    <h2>Welcome, {{user}}!</h2>
    <div class="view-chars">
      <button class="" type="button">View Characters</button>
    </div>
    <div class="create-page">
      <button class="" type="button">Create a new Characters</button>
    </div>
  </div>
</div>