<div class="container px-4 text-center">
  <h2 class="medieval darkforest">Welcome, {{name}}!</h2>
  <div class="row gx-5">
    <div class="col">
     <button type="button" class="view-chars btn btn-color btn-lg btn-block light-color cinzel" href="/characters">View Characters</button>
    </div>
    <div class="col">
      <button type="button" class="create-page btn btn-color btn-lg btn-block light-color cinzel" href="/create">Create a new Characters</button>
    </div>
  </div>
</div>